.links-list {
    display: flex;
    list-style-type: none;
    justify-content: center;       
}



li {
    margin: 0 4px;
    color: white;
    display: inline-block;
    text-align: center;
}

nav {
    position: fixed;
    display: flex;
    text-align:center
    
}

header {
    display: flex;
    height: 50px;
    justify-content: center;
}